<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{% block title %}{% endblock %}</title>
  {% block style %}{% endblock %}
  <link rel="stylesheet" href="/static/stylesheets/main.css">
  <link rel="stylesheet" href="/static/stylesheets/header_login.css">
  <link rel="stylesheet" href="/static/stylesheets/signup.css">
  <script type="text/javascript"
    src="//maps.googleapis.com/maps/api/js?key=AIzaSyBJn4dI5sR-aB5YPbDie0exiEwVzo1dOrE&sensor=false">
  </script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>
  <script type="text/javascript">
    function validate() {
      if ($("#search_bar_where").val().length !== 0) {
        searchWithText();
      } else {
        searchWithUserLocation();
      }
    }

    function searchWithUserLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition,
                                                 handleError);
      }
    }

    function showPosition(position) {
      $("#lng").val(position.coords.longitude);
      $("#lat").val(position.coords.latitude);
      $("#search_bar").submit();     
    }

    function handleError(positionError) {
      if (positionError.code === positionError.PERMISSION_DENIED) {
        $("#loc_error")
          .html("Please enter a location or enable geolocation.");
      }
    }

    function searchWithText() {
      var address = $("#search_bar_where").val();
      var geocoder = new google.maps.Geocoder();
      geocoder.geocode({address: address}, function(results, status) {
        var loc = results[0].geometry.location;
        $("#lng").val(loc.lng());
        $("#lat").val(loc.lat());
        $("#search_bar").submit();
      });
    }
  </script>
  {% block script %}{% endblock %}
</head>

<body {% block body-attr %}{% endblock %}>
  <div id="wrapper0">
    <header id="header_wrap">
      <header id="top_header">
        <img id="eventlogo" src="/static/images/eventlogo.jpg"></img>
        <form id="search_bar" action="/event/search/" method="GET" autocomplete="on" novalidate="novalidate">
          <label for="search_bar_what">Search for:</label>
          <input id="search_bar_what" name="what" required="required" type="text" value=""/>
          <label for="search_bar_where">near:</label>
          <input id="search_bar_where" name="where" required="required" type="text" value=""/>
          <input type="hidden" id="lng" name="lng" value="">
          <input type="hidden" id="lat" name="lat" value="">
          <input id="search_bar_submit" type="button" onclick="validate()" value="Search">
          <span id="loc_error"></span>
        </form>
        {% block header %}{% endblock %}
     </header>
      <div id="header_bottom"></div>
    </header>
    <div id="wrapper1">
        {% block content %}{% endblock %}
     <footer id="the_footer">
      Copyright (C) Event'd 2011-2012, All Rights Reserved 
      </footer>
    </div>
  </div>
</body>
</html>

