{% extends "base.html" %}

{% block title %}Event View{% endblock %}

{% block script %}
  <script type="text/javascript">
    function initialize() {
      var locText = "{{ event.place_text }}";
      var latlng = new google.maps.LatLng({{ event.place_latitude }},
                                          {{ event.place_longitude }});
      var mapOptions = { center: latlng,
                         zoom: 13,
                         mapTypeId: google.maps.MapTypeId.ROADMAP };
      var map = new google.maps.Map(document.getElementById("map_canvas"),
                                    mapOptions);
      var marker = new google.maps.Marker({ map: map,
                                            title: locText,
                                            position: latlng });
      var infowindow = new google.maps.InfoWindow({ content: locText });
        
      google.maps.event.addListener(marker, 'click',
                               function() { infowindow.open(map,marker); });
    }
  </script>
{% endblock %}

{% block content %}
  <div><p>{{ event.title }}</p></div>
  <div><p>{{ event.description }}</p></div>
  <div><p>{{ event.place_text }}</p></div>
  <div><p>{{ event.category }}</p></div>
  <div><p>Created by: {{ event.owner.username }}</p></div>
  
  <div><a href="../invite/{{ event.id }}/">Invite</a></div>
  <div>
    <a href="mailto:?subject={{ share_subject }}&body={{ share_body }}">
      Share</a>
  </div>
  {% if is_own %}
    <div><a href="../delete/{{ event.id }}/">Delete</a></div>
    <div><a href="../edit/{{ event.id }}/">Edit</a></div>
    <br />
  {% endif %}
  
  {% if not is_own %}
    <div>{{status}}</div>
    {% for choice in attendence_choices %}
      <div>
        <a href="../attend/{{ event.id }}/{{ choice.url}}">
          {{ choice.disp }}</a>
      </div>
    {% endfor %}
  {% endif %}
  
  <br />
  <div id="map_canvas" style="width:300px;height:300px"></div>
{% endblock %}

{% block body-attr %}
  onload="initialize()"
{% endblock %}

