{% extends "base.html" %}

{% block title %}Event Form{% endblock %}

{% block style %}
  <link rel="stylesheet" media="all" type="text/css" href="http://code.jquery.com/ui/1.9.1/themes/smoothness/jquery-ui.css" />
  <link rel="stylesheet" type="text/css" href="/static/timepicker.css" />
  <link rel="stylesheet" href="/static/stylesheets/create_event.css">
  <link rel="stylesheet" href="/static/stylesheets/header_all.css">
{% endblock %}

{% block script %}
  <script
    src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js">
  </script>
  <script type="text/javascript"
    src="/static/jquery-ui-timepicker-addon.js">
  </script>
  <script type="text/javascript">
    var map;
    var places;
    var markers = [];

    function handleSubmit() {
      searchLocation();
      $("#event_form").submit();
    }

    function searchLocation() {
      for (var i = 0; i < markers.length; i++) {
        markers[i].setMap(null);
      }
      markers = [];
      var address = $("#id_place_text").val();
      var geocoder = new google.maps.Geocoder();
      geocoder.geocode({address: address}, function(results, status) {
        places = results;
        fillLatLngInputs(places[0]);
        for (var i = 0; i < results.length; i++) {
          var loc = results[i].geometry.location;
          var marker = new google.maps.Marker({ map: map,
                                            //title: locText,
                                            position: loc });
          markers.push(marker);
          addListener(marker, i);
          map.setCenter(calcCenter(results));
          map.setZoom(calcZoom(results));
        }
      });
    }

    function fillLatLngInputs(loc) {
      var geoLoc = loc.geometry.location;
      $("#id_place_longitude").val(geoLoc.lng());
      $("#id_place_latitude").val(geoLoc.lat());
    }

    function addListener(marker, idx) {
      google.maps.event.addListener(marker, 'click',
            function() {
              $("#id_place_text").val(places[idx].formatted_address);
              fillLatLngInputs(places[idx]);
            });
    }

    function calcCenter(locs) {
      var avg_lat = 0.0;
      var avg_lng = 0.0;
      for (var i = 0; i < locs.length; i++) {
        avg_lng += locs[i].geometry.location.lng();
        avg_lat += locs[i].geometry.location.lat();
      }
      return new google.maps.LatLng(avg_lat / locs.length,
                                    avg_lng / locs.length);
    }

    function calcZoom(locs) {
      var GLOBE_WIDTH = 256;

      if (locs.length === 0)
        return 3;

      var west = 180.0;
      var east = -180.0;
      for (var i = 0; i < locs.length; i++) {
        var lng = locs[i].geometry.location.lng();
        if (lng < west)
          west = lng;
        if (lng > east)
          east = lng;
      }
      var angle = east - west;
      if (angle < 0) {
        angle += 360;
      }
      var zoom = Math.round(Math.log(100.0 * 360 / angle / GLOBE_WIDTH) /
                            Math.LN2);
      if (zoom === Infinity)
        zoom = 13;
      return zoom;
    }

    function initialize() {
      var latlng = new google.maps.LatLng(38.0, -97.0);
      var mapOptions = { center: latlng,
                         zoom: 3,
                         mapTypeId: google.maps.MapTypeId.ROADMAP };
      map = new google.maps.Map(document.getElementById("map_canvas"),
                                mapOptions);

      if ($("#id_place_text").val() != "")
        searchLocation();

      $("#id_place_text").attr("onblur","searchLocation();");

      $("#id_start_time").datetimepicker();
      $("#id_end_time").datetimepicker();
    }
  </script>
{% endblock %}

{% block content %}
<form id="event_form" action="" method="post" enctype="multipart/form-data" autocomplete="on" novalidate="novalidate">	
  <section class="section1">	
		<div id="what">
			<div class="title">
				What
			</div>
			    {{ form.title }}
			    {{ form.title.errors }}
				{{ form.description}}
				{{ form.description.errors }}
			    {{ form.category }}
			    {{ form.category.errors }}
			    {{ form.photo }}
			    {{ form.photo.errors }}
		</div>
		<div id="when">
			<div class="title">
				When
			</div>
            {{ form.start_time}}
            {{ form.start_time.errors }}
            {{ form.end_time}}
            {{ form.end_time.errors }}
		</div>
	</section>
	<section class="section1">
		<div id="where">
			<div class="title">
				Where
			</div>
			{{ form.place_text }}
			{{ form.place_text.errors }}
			<div id="map_canvas"></div>
		</div>
		<div id="who">
			<div class="title">
				Who
			</div>
				<input id="friend" name="friend" required="required" type="text" placeholder="Search Friends"/>
		</div>				
	</section>
	{{ form.place_latitude }}
	{{ form.place_longitude }}
			</form>
	
		<input id="submitbutton" type="button" onclick="handleSubmit()" value="Submit">

 
{% endblock %}

{% block header %}
    <div id="header_right_wrapper">
      <a href="/event/create/">
        <img id="create_event" src="/static/images/create_event.png">
      </a>
      <a href="" >
        <img id="friend_request" src="/static/images/friend_request.png"s>
      </a>  
      <a href="">
        <img id="event_request" src="/static/images/event_request.png"s>
      </a>  
      <a href="/logout/">Log out</a>
    </div>
{% endblock %}
{% block body-attr %}
  onload="initialize()"
{% endblock %}

