{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block script %}
<link rel="stylesheet" href="/static/stylesheets/header_all.css">
<link rel="stylesheet" href="/static/stylesheets/user.css">
{% endblock %}

{% block header %}
    <div id="header_right_wrapper">
  <a href="/event/create/">
  <img id="create_event" src="/static/images/create_event.png">
  </a>
  <a href="" >
    <img id="friend_request" src="/static/images/friend_request.png"s>
  </a>  
  <a href="">
    <img id="event_request" src="/static/images/event_request.png"s>
  </a> 
  <a href="/logout/">Log out</a>
    </div>
{% endblock %}

{% block content %}
      <profile id="main_profile">
        <div id="profile_left">
          <div id="profile_right_top">
            <h1>{{ username }}</h1>
            <h2>({{ username }})</h2>
            {% if not is_self and not is_friend and not has_added %}
            <div id="addFriend_box"><a href="/user/add/{{ user_id }}/">+1 Add Friend</a></div>
            {% endif %}
          </div>
          <div id="profile_right_bottom">
            <div id="about_box">
              <div id="about_box_inside">
                <li>Worked at SM Club</li>
                <li>Studied Computer Science at Cornell University</li>
                <li>Lives in box</li>
                <li>From Tebt, China</li>
              </div>
              <p>About</p>
            </div>
            <div id="friend_box">
              <div id="friend_box_inside">
                <img class="little_pic" src="/static/images\profile.png"></img>
                <img class="little_pic" src="/static/images\profile.png"></img>
                <img class="little_pic" src="/static/images\profile.png"></img>
                <img class="little_pic" src="/static/images\profile.png"></img>
                <img class="little_pic" src="/static/images\profile.png"></img>
                <img class="little_pic" src="/static/images\profile.png"></img>
              </div>
              <p>Friends</p>
            </div>
          </div>
        </div>
        <img id="profile_right"src="/static/images\profile1.png"></img>
      </profile>
      <div id="event_section">
        <div id="title">Upcoming Events</div>
        <div id="wrapper2">
        <section id="main_section">
          <event>
            <div class="date_box">
              <p>Today</p> 
            </div>
            
            {% for event in events %}
            <article>
              <div>{{ event.start_time }}</div>
              <img src="/static/images\event.png"></img>
              <div><a href="/event/{{ event.id }}/">{{ event.title }}</a></div>
              <div>{{ event.place_text }}</div>
            </article>
            {% endfor %}
          </event>
          {% if is_self %}
    <div> 
      <ul>
      {% for request in allAddFriendRequests %}
        <li>
            {{ request.requester }} wants to add you as friends
            <a href="/respond/{{ request.id }}/y/">confirm</a>
            <a href="/respond/{{ request.id }}/n/">ignore</a>
        </li>
      {% endfor%}
      </ul>
    </div>
    <br />
  {% endif %}
        </section>
        <div id="side_bar">
          <aside id="side_calendar">
            <img src="/static/images\calendar.png"></img>
          </aside>
        </div>
      </div>

  

{% endblock %}
