{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}
  {% if is_self %}
    <div><a href="/logout/">Log out</a></div>
    <br />
    <div><a href="/event/create/">Create Event</a></div>
    <br />
    <div> 
      <ul>
      {% for request in allAddFriendRequests %}
        <li>
            {{ request.requester }} wants to add you as friends
            <a href="/respond/{{ request.id }}/y/">confirm</a>
            <a href="/respond/{{ request.id }}/n/">ignore</a>
        </li>
      {% endfor%}
      </ul>
    </div>
    <br />
  {% endif %}
  {{ username }}'s homepage~
  
  {% if not is_self and not is_friend and not has_added %}
    <div>
      <a href="/user/add/{{ user_id }}/">add friend</a>
    </div>
  {% endif %}
  <div>
    Events:
    <ul>
    {% for event in events %}
      <li><a href="/event/{{ event.id }}/">{{ event.title }}</a></li>
    {% endfor %}
    </ul>
  </div>
<!--   <div>
    Have chosen events:
    <ul>
    {% for event in have_chosen_events %}
      <li><a href="/event/{{ event.id }}/">{{ event.title }}</a></li>
    {% endfor %}
    </ul>
  </div>
  <div>
    Invited events:
    <ul>
    {% for event in invited_events %}
      <li><a href="/event/{{ event.id }}/">{{ event.title }}</a></li>
    {% endfor %}
    </ul>
  </div> -->
{% endblock %}
